## This notebook will guide us through ingesting all downloaded/unmodifed dataframes

Functions to be used

In [16]:
import pandas as pd

In [17]:
seaflow_path = '/Users/cristianswift/Desktop/armbrust-lab/Seaflow-Machine-Learning/data/01-original/Seaflow_all_CMAP.csv'

seaflow = (pd
           .read_csv(seaflow_path,
                     parse_dates=[0], index_col = [0],
                    na_values="NaN")
           .reset_index()
          )
seaflow.head()

,time,lat,lon,depth,cruise,abundance_prochloro,abundance_synecho,abundance_picoeuk,abundance_croco,diam_prochloro,...,diam_picoeuk,diam_croco,Qc_prochloro,Qc_synecho,Qc_picoeuk,Qc_croco,biomass_prochloro,biomass_synecho,biomass_picoeuk,biomass_croco
0,2010-05-04 23:13:08,49.9424,-136.3091,5,TN248,NaN,9.450561,42.470594,0.000000,NaN,...,1.156123,NaN,NaN,0.139359,0.217537,NaN,NaN,1.317022,9.238921,0.000000
1,2010-05-04 23:16:08,49.9424,-136.3091,5,TN248,NaN,9.719664,44.614850,0.045525,NaN,...,1.150068,2.736205,NaN,0.135899,0.214609,2.379907,NaN,1.320895,9.574742,0.108346
2,2010-05-04 23:19:08,49.9424,-136.3091,5,TN248,NaN,9.955824,44.106351,0.000000,NaN,...,1.147056,NaN,NaN,0.139359,0.213163,NaN,NaN,1.387435,9.401822,0.000000
3,2010-05-04 23:22:08,49.9424,-136.3091,5,TN248,NaN,11.054114,43.395945,0.022792,NaN,...,1.142564,4.366571,NaN,0.134768,0.211015,6.707313,NaN,1.489737,9.157209,0.152873
4,2010-05-04 23:28:08,49.9424,-136.3091,5,TN248,NaN,9.504259,40.182275,0.045584,NaN,...,1.166330,3.305096,NaN,0.139359,0.222525,3.287736,NaN,1.324505,8.941571,0.149868

In [18]:
seaflow.columns

Index(['time', 'lat', 'lon', 'depth', 'cruise', 'abundance_prochloro',
       'abundance_synecho', 'abundance_picoeuk', 'abundance_croco',
       'diam_prochloro', 'diam_synecho', 'diam_picoeuk', 'diam_croco',
       'Qc_prochloro', 'Qc_synecho', 'Qc_picoeuk', 'Qc_croco',
       'biomass_prochloro', 'biomass_synecho', 'biomass_picoeuk',
       'biomass_croco'],
      dtype='object')