## This notebook we will be cleaning the data of any NaN values, and getting it ready for machine learning applications.

### Loading in covariate dataset that has CMAP features

In [1]:
# Set a working directory
import os

directory_path = '/Users/cristianswift/Desktop/armbrust-lab/Seaflow-Machine-Learning/'
os.chdir(directory_path)

In [2]:
import pandas as pd

covari_path = 'data/modified/Seaflow_covari_CMAP_PAR.csv'
#using pandas to read in as a df
covari = (pd.read_csv(covari_path,parse_dates=[0]))
#taking a peak at the data
covari.head(5)

,time,PopulationName,lat,lon,Biomass_pgC_per_L,salin,temp,cruisename,CMAP_SiO2_darwin_clim_tblDarwin_Nutrient_Climatology,CMAP_POSi_darwin_clim_tblDarwin_Nutrient_Climatology,...,CMAP_NH4_darwin_clim_tblDarwin_Nutrient_Climatology,CMAP_FeT_darwin_clim_tblDarwin_Nutrient_Climatology,CMAP_DOP_darwin_clim_tblDarwin_Nutrient_Climatology,CMAP_DON_darwin_clim_tblDarwin_Nutrient_Climatology,CMAP_DOFe_darwin_clim_tblDarwin_Nutrient_Climatology,CMAP_DOC_darwin_clim_tblDarwin_Nutrient_Climatology,CMAP_DIC_darwin_clim_tblDarwin_Nutrient_Climatology,CMAP_CDOM_darwin_clim_tblDarwin_Nutrient_Climatology,CMAP_ALK_darwin_clim_tblDarwin_Nutrient_Climatology,par
0,2016-04-20 07:00:00,Prochlorococcus,21.520326,-158.326984,10.520443,34.893785,24.351745,KOK1606,-0.022845,-0.000127,...,1.282981,0.000015,0.013734,0.248717,0.000017,1.648093,1697.874775,0.000034,1954.87665,0.019300
1,2016-04-20 07:00:00,Synechococcus,21.520326,-158.326984,0.341429,34.893785,24.351745,KOK1606,-0.022845,-0.000127,...,1.282981,0.000015,0.013734,0.248717,0.000017,1.648093,1697.874775,0.000034,1954.87665,0.019300
2,2016-04-20 07:00:00,nanoeukaryotes (2-5µm),21.520326,-158.326984,3.338212,34.893785,24.351745,KOK1606,-0.022845,-0.000127,...,1.282981,0.000015,0.013734,0.248717,0.000017,1.648093,1697.874775,0.000034,1954.87665,0.019300
3,2016-04-20 07:00:00,picoeukaryotes (< 2µm),21.520326,-158.326984,0.701902,34.893785,24.351745,KOK1606,-0.022845,-0.000127,...,1.282981,0.000015,0.013734,0.248717,0.000017,1.648093,1697.874775,0.000034,1954.87665,0.019300
4,2016-04-20 08:00:00,Prochlorococcus,21.662710,-158.323430,9.309387,34.902376,24.339265,KOK1606,-0.022845,-0.000127,...,1.282981,0.000015,0.013734,0.248717,0.000017,1.648093,1697.874775,0.000034,1954.87665,0.020382

### Need to adjust columns that contain numbers to floats

In [3]:
def ChangeObjectTypes(df):
    for column in df:
        if column == 'time':
            #changing to datetime
            df[column] = pd.to_datetime(df[column], errors='coerce')
            
        elif column == 'PopulationName' or column == 'cruisename':
            #changing to string
            df[column] = df[column].astype(str)
            
        else:
            #changing to numeric type
            df[column] = pd.to_numeric(df[column], errors='coerce')
    return df
covari = ChangeObjectTypes(covari)

### Now all of the objects are in the right format

In [4]:
print(pd.DataFrame(covari))
print('\n')
print(covari.dtypes)
print('\n')

                     time          PopulationName        lat         lon  \
0     2016-04-20 07:00:00         Prochlorococcus  21.520326 -158.326984
1     2016-04-20 07:00:00           Synechococcus  21.520326 -158.326984
2     2016-04-20 07:00:00  nanoeukaryotes (2-5µm)  21.520326 -158.326984
3     2016-04-20 07:00:00  picoeukaryotes (< 2µm)  21.520326 -158.326984
4     2016-04-20 08:00:00         Prochlorococcus  21.662710 -158.323430
...                   ...                     ...        ...         ...
11126 2021-12-30 00:00:00  picoeukaryotes (< 2µm)  32.673493 -117.545342
11127 2021-12-30 01:00:00         Prochlorococcus  32.682100 -117.660321
11128 2021-12-30 01:00:00           Synechococcus  32.682100 -117.660321
11129 2021-12-30 01:00:00  nanoeukaryotes (2-5µm)  32.682100 -117.660321
11130 2021-12-30 01:00:00  picoeukaryotes (< 2µm)  32.682100 -117.660321

       Biomass_pgC_per_L      salin       temp cruisename  \
0              10.520443  34.893785  24.351745    KOK1606
1               0.341429  34.893785  24.351745    KOK1606
2               3.338212  34.893785  24.351745    KOK1606
3               0.701902  34.893785  24.351745    KOK1606
4               9.309387  34.902376  24.339265    KOK1606
...                  ...        ...        ...        ...
11126           3.774488  33.468151  15.189021      TN398
11127           0.874599  33.478846  15.327302      TN398
11128           9.707579  33.478846  15.327302      TN398
11129           2.428084  33.478846  15.327302      TN398
11130           3.785184  33.478846  15.327302      TN398

       CMAP_SiO2_darwin_clim_tblDarwin_Nutrient_Climatology  \
0                                              -0.022845
1                                              -0.022845
2                                              -0.022845
3                                              -0.022845
4                                              -0.022845
...                                                  ...
11126                                           0.363296
11127                                           0.363296
11128                                           0.363296
11129                                           0.363296
11130                                           0.363296

       CMAP_POSi_darwin_clim_tblDarwin_Nutrient_Climatology  ...  \
0                                              -0.000127     ...
1                                              -0.000127     ...
2                                              -0.000127     ...
3                                              -0.000127     ...
4                                              -0.000127     ...
...                                                  ...     ...
11126                                           0.099231     ...
11127                                           0.099231     ...
11128                                           0.099231     ...
11129                                           0.099231     ...
11130                                           0.099231     ...

       CMAP_NH4_darwin_clim_tblDarwin_Nutrient_Climatology  \
0                                               1.282981
1                                               1.282981
2                                               1.282981
3                                               1.282981
4                                               1.282981
...                                                  ...
11126                                           0.242743
11127                                           0.242743
11128                                           0.242743
11129                                           0.242743
11130                                           0.242743

       CMAP_FeT_darwin_clim_tblDarwin_Nutrient_Climatology  \
0                                               0.000015
1                                               0.000015
2                                               0.000015
3                                               0.000015
4                                               0.000015
...                                                  ...
11126                                           0.000497
11127                                           0.000497
11128                                           0.000497
11129                                           0.000497
11130                                           0.000497

       CMAP_DOP_darwin_clim_tblDarwin_Nutrient_Climatology  \
0                                               0.013734
1                                               0.013734
2                                               0.013734
3                                               0.013734
4                                               0.013734
...                                                  ...
11126                                           0.164132
11127                                           0.164132
11128                                           0.164132
11129                                           0.164132
11130                                           0.164132

       CMAP_DON_darwin_clim_tblDarwin_Nutrient_Climatology  \
0                                               0.248717
1                                               0.248717
2                                               0.248717
3                                               0.248717
4                                               0.248717
...                                                  ...
11126                                           2.736920
11127                                           2.736920
11128                                           2.736920
11129                                           2.736920
11130                                           2.736920

       CMAP_DOFe_darwin_clim_tblDarwin_Nutrient_Climatology  \
0                                               0.000017
1                                               0.000017
2                                               0.000017
3                                               0.000017
4                                               0.000017
...                                                  ...
11126                                           0.000178
11127                                           0.000178
11128                                           0.000178
11129                                           0.000178
11130                                           0.000178

       CMAP_DOC_darwin_clim_tblDarwin_Nutrient_Climatology  \
0                                               1.648093
1                                               1.648093
2                                               1.648093
3                                               1.648093
4                                               1.648093
...                                                  ...
11126                                          19.695796
11127                                          19.695796
11128                                          19.695796
11129                                          19.695796
11130                                          19.695796

       CMAP_DIC_darwin_clim_tblDarwin_Nutrient_Climatology  \
0                                            1697.874775
1                                            1697.874775
2                                            1697.874775
3                                            1697.874775
4                                            1697.874775
...                                                  ...
11126                                        1819.587625
11127                                        1819.587625
11128                                        1819.587625
11129                                        1819.587625
11130                                        1819.587625

       CMAP_CDOM_darwin_clim_tblDarwin_Nutrient_Climatology  \
0                                               0.000034
1                                               0.000034
2                                               0.000034
3                                               0.000034
4                                               0.000034
...                                                  ...
11126                                           0.000756
11127                                           0.000756
11128                                           0.000756
11129                                           0.000756
11130                                           0.000756

       CMAP_ALK_darwin_clim_tblDarwin_Nutrient_Climatology         par
0                                            1954.876650      0.019300
1                                            1954.876650      0.019300
2                                            1954.876650      0.019300
3                                            1954.876650      0.019300
4                                            1954.876650      0.020382
...                                                  ...           ...
11126                                        2008.417775    127.692150
11127                                        2008.417775      1.012800
11128                                        2008.417775      1.012800
11129                                        2008.417775      1.012800
11130                                        2008.417775      1.012800

[11131 rows x 28 columns]


time                                                    datetime64[ns]
PopulationName                                                  object
lat                                                            float64
lon                                                            float64
Biomass_pgC_per_L                                              float64
salin                                                          float64
temp                                                           float64
cruisename                                                      object
CMAP_SiO2_darwin_clim_tblDarwin_Nutrient_Climatology           float64
CMAP_POSi_darwin_clim_tblDarwin_Nutrient_Climatology           float64
CMAP_PON_darwin_clim_tblDarwin_Nutrient_Climatology            float64
CMAP_POFe_darwin_clim_tblDarwin_Nutrient_Climatology           float64
CMAP_POC_darwin_clim_tblDarwin_Nutrient_Climatology            float64
CMAP_PO4_darwin_clim_tblDarwin_Nutrient_Climatology            float64
CMAP_PIC_darwin_clim_tblDarwin_Nutrient_Climatology            float64
CMAP_O2_darwin_clim_tblDarwin_Nutrient_Climatology             float64
CMAP_NO3_darwin_clim_tblDarwin_Nutrient_Climatology            float64
CMAP_NO2_darwin_clim_tblDarwin_Nutrient_Climatology            float64
CMAP_NH4_darwin_clim_tblDarwin_Nutrient_Climatology            float64
CMAP_FeT_darwin_clim_tblDarwin_Nutrient_Climatology            float64
CMAP_DOP_darwin_clim_tblDarwin_Nutrient_Climatology            float64
CMAP_DON_darwin_clim_tblDarwin_Nutrient_Climatology            float64
CMAP_DOFe_darwin_clim_tblDarwin_Nutrient_Climatology           float64
CMAP_DOC_darwin_clim_tblDarwin_Nutrient_Climatology            float64
CMAP_DIC_darwin_clim_tblDarwin_Nutrient_Climatology            float64
CMAP_CDOM_darwin_clim_tblDarwin_Nutrient_Climatology           float64
CMAP_ALK_darwin_clim_tblDarwin_Nutrient_Climatology            float64
par                                                            float64
dtype: object

### Changing names of columns to be easier to read

In [5]:
# Define a regular expression pattern to extract the desired substring
pattern = r'_(.*?)_'

# Get the column names starting from the 9th column
columns_to_rename = covari.columns[8:-1]

# Generate new column names using str.extract() and assign them to the selected columns
covari.rename(columns=dict(zip(columns_to_rename, columns_to_rename.str.extract(pattern).squeeze())), inplace=True)

covari.rename({"PopulationName":"population", "Biomass_pgC_per_L": "biomass"}, axis='columns', inplace=True)
# Print the updated column names
print(covari.columns)

Index(['time', 'population', 'lat', 'lon', 'biomass', 'salin', 'temp',
       'cruisename', 'SiO2', 'POSi', 'PON', 'POFe', 'POC', 'PO4', 'PIC', 'O2',
       'NO3', 'NO2', 'NH4', 'FeT', 'DOP', 'DON', 'DOFe', 'DOC', 'DIC', 'CDOM',
       'ALK', 'par'],
      dtype='object')

## Saving machine learning ready dataset

In [6]:
covari.to_csv('data/modified/data_clean_covari.csv', index=False)