## In this notebook we will be gathering and adding hourly PAR data to our Covariate dataset

To do this we will use the [Seaflow-sfl GitHub](https://github.com/seaflow-uw/seaflow-sfl/tree/master) as it has ship PAR values for most cruises that has the Seaflow machine on board

#### Making our wokring directory

In [1]:
# Set a working directory
import os

directory_path = '/Users/cristianswift/Desktop/armbrust-lab/Seaflow-Machine-Learning/'
os.chdir(directory_path)

In [4]:
import pandas as pd
par = pd.read_csv('data/original/EnvironmentalData.csv')
covari = pd.read_csv(data/original/)

In [5]:
par

,salinity,temp,cruise,par,date,lat,lon,SiO4,NO3_NO2,PO4,Fe,PP,chl,MLD
0,11.304595,13.432153,Gradients 2,1130.308083,6/5/17 3:00,39.270870,-157.999210,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11.536398,13.549144,Gradients 2,1636.690598,6/5/17 1:00,39.488580,-158.000560,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12.650134,13.530681,Gradients 2,1355.719989,6/5/17 2:00,39.396063,-158.001168,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26.672210,13.426976,Gradients 2,1626.304448,6/4/17 19:00,39.519667,-158.000550,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,26.888480,13.487486,Gradients 2,2093.545011,6/5/17 0:00,39.499900,-158.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4032,NaN,NaN,SR1917,1.620000,11/7/19 8:00,16.000000,148.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4033,NaN,NaN,SR1917,1160.973850,11/8/19 6:00,18.000000,151.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4034,NaN,NaN,SR1917,523.393401,11/7/19 6:00,15.800000,147.700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4035,NaN,NaN,TN398,2075.817571,12/22/21 22:00,26.288577,-147.622882,NaN,NaN,NaN,NaN,NaN,NaN,59.612476
4036,NaN,NaN,TN398,2273.182500,12/18/21 23:00,21.223134,-157.926306,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import os
import requests
import pandas as pd

def download_data(dataset):
    base_url = 'https://github.com/seaflow-uw/seaflow-sfl/raw/master/curated/'
    output_directory = './downloaded_data'

    # Create the output directory if it doesn't exist
    os.makedirs(output_directory, exist_ok=True)

    # Extract unique cruisenames from the dataset
    cruisenames = dataset['cruisename'].unique()

    for cruisename in cruisenames:
        # Generate the corresponding file name based on the cruisename structure
        file_name = cruisename + '_751.sfl'

        file_url = base_url + file_name

        # Download the file
        response = requests.get(file_url)
        if response.status_code == 200:
            # Save the downloaded file
            output_path = os.path.join(output_directory, file_name)
            with open(output_path, 'wb') as f:
                f.write(response.content)
                print(f"Downloaded {file_name}")
        else:
            print(f"Failed to download {file_name}")

In [ ]:
pd.read_csv('')